{#
  This file is part of the Custom Csv Export Plugin

  Copyright (C) 2017 LOCKON CO.,LTD. All Rights Reserved.

  For the full copyright and license information, please view the LICENSE
  file that was distributed with this source code.
#}


{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'CustomCsvExport'] %}

{% block title %}{{ 'custom_csv_export.admin.page.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'custom_csv_export.admin.page.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        $(function () {
            $('#register_btn').click(function () {
                $('#form1').attr('action', "{% if TargetCustomCsvExport.id %}{{ path('custom_csv_export_admin_edit', {id: TargetCustomCsvExport.id}) }}{% else %}{{ url('custom_csv_export_admin') }}{% endif %}");
                $('#form1').submit();
                return false;
            });

            $('#check_btn').click(function () {
                $('#form1').attr('action', "{% if TargetCustomCsvExport.id %}{{ path('custom_csv_admin_export_edit_confirm', {id: TargetCustomCsvExport.id}) }}{% else %}{{ url('custom_csv_admin_export_confirm') }}{% endif %}");
                $('#form1').submit();
                return false;
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <span class="card-title">{{ 'custom_csv_export.admin.page.header'|trans }}</span>
                    </div>
                    {% if CustomCsvExports|length > 0 %}
                        <div class="card-body p-0">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pl-3 py-2">{{ 'custom_csv_export.admin.list.name'|trans }}</th>
                                    <th class="border-top-0 py-2">{{ 'custom_csv_export.admin.list.sql_script'|trans }}</th>
                                    <th class="border-top-0 py-2 text-center">{{ 'custom_csv_export.admin.list.created_at'|trans }}</th>
                                    <th class="border-top-0 py-2 text-center">{{ 'custom_csv_export.admin.list.updated_at'|trans }}</th>
                                    <th class="border-top-0 py-2">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for CustomCsvExport in CustomCsvExports %}
                                    <tr>
                                        <td class="align-middle pl-3">
                                            <a href="{{ url('custom_csv_export_admin_edit', {id: CustomCsvExport.id}) }}">{{ CustomCsvExport.sql_name }}</a>
                                        </td>
                                        <td class="align-middle pl-2" title="{{ CustomCsvExport.custom_sql }}">
                                            {{ CustomCsvExport.custom_sql|length > 70 ? CustomCsvExport.custom_sql|slice(0, 70) ~ '...' : CustomCsvExport.custom_sql }}
                                        </td>
                                        <td class="align-middle pl-2 text-center">
                                            {{ CustomCsvExport.create_date|date_min }}
                                        </td>
                                        <td class="align-middle pl-2 text-center">
                                            {{ CustomCsvExport.update_date|date_min }}
                                        </td>
                                        <td class="align-middle pl-3">
                                            <div class="col-auto text-right">
                                                <a href="{{ url('custom_csv_export_admin_output', {id: CustomCsvExport.id}) }}"
                                                   class="btn btn-ec-actionIcon mr-3 action-edit"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="{{ 'custom_csv_export.admin.label.title.001'|trans }}">
                                                    <i class="fa fa-download fa-lg text-secondary"
                                                       aria-hidden="true"></i></a>

                                                <a href="{{ url('custom_csv_export_admin_edit', {id: CustomCsvExport.id}) }}"
                                                   class="btn btn-ec-actionIcon mr-3 action-edit"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{{ 'admin.common.edit'|trans }}">
                                                    <i class="fa fa-pencil fa-lg text-secondary"></i></a>
                                                <a class="btn btn-ec-actionIcon mr-3"
                                                   data-toggle="modal"
                                                   data-target="#confirmModal-{{ CustomCsvExport.id }}">
                                                    <i data-toggle="tooltip" data-placement="top"
                                                       title="{{ 'admin.common.delete'|trans }}"
                                                       class="fa fa-close fa-lg text-secondary"></i></a>
                                            </div>

                                            <div class="modal fade" id="confirmModal-{{ CustomCsvExport.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="confirmModal-{{ CustomCsvExport.id }}"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title font-weight-bold">
                                                                {{ 'custom_csv_export.admin.popup.confirm.title'|trans }}</h5>
                                                            <button class="close" type="button"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-left">
                                                            <p class="text-left">
                                                                {{ 'custom_csv_export.admin.popup.confirm.message'|trans }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-ec-sub" type="button"
                                                                    data-dismiss="modal">{{ 'admin.common.cancel'|trans }}
                                                            </button>
                                                            <a
                                                                    href="{{ url('custom_csv_export_admin_delete', {id: CustomCsvExport.id}) }}"
                                                                    class="btn btn-ec-delete"
                                                                    data-confirm="false"
                                                                    {{ csrf_token_for_anchor() }}
                                                                    data-method="delete">
                                                                {{ 'admin.common.delete'|trans }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <p>{{ 'custom_csv_export.admin.message.nodata'|trans }}</p></div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <span class="card-title">{{ 'custom_csv_export.admin.label.title.004'|trans }}
                            {% if TargetCustomCsvExport.id %}
                                ({{ 'custom_csv_export.admin.label.title.005'|trans }}：{{ TargetCustomCsvExport.sql_name }})
                            {% else %}
                                ({{ 'custom_csv_export.admin.label.title.006'|trans }})
                            {% endif %}</span>
                    </div>
                    <div class="card-body">
                        <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action=""
                              enctype="multipart/form-data">
                            {{ form_widget(form._token) }}
                            <div class="row form-group">
                                <div class="col-12 col-sm-2">
                                    <span>{{ 'custom_csv_export.admin.label.name'|trans }}</span>
                                </div>
                                <div class="col-auto col-sm-10">
                                    {{ form_widget(form.sql_name, {attr: {placeholder: 'custom_csv_export.admin.placeholder.sql_name'|trans}}) }}
                                    {{ form_errors(form.sql_name) }}
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-2">
                                    <span>{{ 'custom_csv_export.admin.label.custom_sql'|trans }}</span>
                                </div>
                                <div class="col-auto col-sm-10">
                                    {{ form_widget(form.custom_sql, {attr: {rows: 6, placeholder: 'custom_csv_export.admin.placeholder.guide'|trans}}) }}
                                    {{ form_errors(form.custom_sql) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 pull-right">
                                    <div class="row">
                                        <button id="check_btn"
                                                class="btn btn-primary btn-block btn-lg">{{ 'custom_csv_export.admin.label.title.007'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% if message is defined and message is not null %}
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <span class="card-title">{{ 'custom_csv_export.admin.label.title.008'|trans }}</span>
                        </div>
                        <div class="card-body">
                            <div id="list_box" class="box-body p-0">
                                <pre>{{ message }}</pre>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">&nbsp;</div>
                </div>
                <div class="col-6">
                    <div class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            <button
                                    id="register_btn"
                                    class="btn btn-ec-conversion px-5"
                                    type="submit">{{ 'admin.common.registration'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
